#!/bin/bash

export TERMINAL=urxvt
export EDITOR=vim
export BROWSER=firefox

export VISUAL=$EDITOR
export SVN_EDITOR=$EDITOR

export HISTCONTROL=ignoredups:ignorespace:erasedups

# Add github:f0i/bin
export PATH="$PATH:$HOME/stuff/bin"
export TODAY_LOG_PATH="$HOME/stuff/log"
export MD_FILE_PATH="$HOME/stuff/pages"

# Add android
#export PATH=$PATH:/opt/android-sdk/tools
#export PATH=$PATH:/opt/android-sdk/platform-tools

# Add rbenv
#eval "$(rbenv init -)"

