#!/bin/bash

export TERMINAL=urxvt
export EDITOR=vim
export BROWSER=firefox

export VISUAL=$EDITOR
export SVN_EDITOR=$EDITOR

export HISTCONTROL=ignoredups:ignorespace:erasedups

# Add rvm
PATH=$PATH:$HOME/.rvm/bin
export rvm_ignore_dotfiles=yes

export PATH

# path for today and md script
export TODAY_LOG_PATH="$HOME/stuff/log"
export MD_FILE_PATH="$HOME/stuff/pages"
